<a class="btn btn-small mb2" onclick="closeCompareSearch()">Close</a>
<hr/>

<div class="grid  grid--nowrap">
    {% for program_concentration in program_concentrations %}
        {% set program = program_concentration[0] %}
        {% set concentration = program_concentration[1] %}

        <div class="grid-cell">
            <div class="grid-pad-1x">
                <h3>
                {% if concentration.title %}
                    {{concentration.title}}
                {% endif %}
                </h3>

                <p>{{program.md.degree | join(', ') }}
                {% if program.md.school | length > 0 %}
                    | {{program.md.school | join(', ')}}
                    {% endif %}
                </p>

                <hr/>

                <dl class="dl--generic">
                    {% if concentration.total_credits %}
                        <dt>Total Credits</dt>
                        <dd>{{concentration.total_credits}}</dd>
                    {% endif %}

                    {% if concentration.cost != '' and concentration.cost != '$None' %}
                        <dt>Cost per Credit</dt>
                        <dd>{{concentration.cost}}</dd>
                    {% endif %}

                    {% if concentration.program_length %}
                        <dt>Program Length</dt>
                        <dd>{{concentration.program_length}}</dd>
                    {% endif %}

                    {% if concentration.concentration_description %}
                        <dt>Description</dt>
                        <dd>{{concentration.concentration_description | raw}}</dd>
                    {% endif %}

                    {% if concentration.cohorts[0].semester_start %}
                        <dt>Next Start Date</dt>
                        <dd>{{concentration.cohorts[0].semester_start}} {{concentration.cohorts[0].year_start}}</dd>
                    {% endif %}

                    {% if concentration.cohorts[0].delivery_label %}
                        <dt>Deliveries</dt>
                        <dd>{{concentration.cohorts[0].delivery_label}}</dd>
                    {% endif %}
                </dl>
            </div>
        </div>
    {% endfor %}
</div>
