<td>
    {% if concentration_page != '/' %}
        <a href="{{concentration_page}}">
    {% endif %}

    {% if concentration_name != '' %}
        {{concentration_name}}
    {% else %}
        {{title}}
    {% endif %}

    {% if "College of Arts & Sciences" in schools %}
        {% for type in program_types %}
            <br/><span class="btn btn-mini major ml1">{{type}}</span>
        {% endfor %}
    {% elseif "College of Adult & Professional Studies" in schools %}
            <br/><span class="btn btn-mini major ml2">Adult Degree Completion</span>
    {% endif %}

    {% if concentration_page != '/' %}
        </a>
    {% endif %}

</td>

<td>
    {{ schools | sort | join(', ') }}
</td>

<td>
    {{ degrees | sort | join(', ') }}
</td>

<td>
    {{ deliveries | sort | join(', ') }}
</td>

<td>
    {% if "College of Arts & Sciences" in schools or concentration_code == '' %}
        <p>N/A</p>
    {% else %}
        <input type="checkbox" name="program-search-checkbox" id="{{concentration_code}}" onclick="countCheckedBoxes(this)" />
        <a href='#top' class="btn btn-small ml1" onclick="comparePrograms()">Compare</a>
        <a class="btn btn-small ml2" onclick="resetCompareSearch()">Reset all</a>
    {% endif %}

</td>