<div class="grid-cell    results-1">
    {% if concentration_page.path != '/' %}
        <a href="{{concentration_page.path}}">{{concentration.title}}</a>
    {% else %}
        {{concentration.title}}
    {% endif %}
</div>

<div class="grid-cell  results-2">
    {% if "College of Arts & Sciences" in schools %}
        {% for type in program_types %}
            <span class="icon  icon--{{type|lower}}"></span>
            <span class="degree-level">Undergrad {{type}}</span>
        {% endfor %}
    {% elseif "College of Adult & Professional Studies" in schools %}
        <span class="icon  icon--adult"></span>
        <span class="degree-level">Adult Undergrad</span>
    {% elseif "Graduate School" in schools %}
        <span class="icon  icon--graduate"></span>
        <span class="degree-level">Graduate</span>
    {% elseif "Bethel Seminary" in schools %}
        <span class="icon  icon--seminary"></span>
        <span class="degree-level">Seminary</span>
    {% endif %}
</div>

<div class="grid-cell  results-3">
    {{ deliveries | sort | join(', ') }}</div>

<div class="grid-cell  results-4">
    {% if "College of Arts & Sciences" not in schools and concentration_code != '' %}
        <input type="checkbox" name="program-search-checkbox" id="{{concentration_code}}" onclick="countCheckedBoxes(this)" />
    {% endif %}
</div>
