<td>
    {% if concentration_page != '/' %}
        <a href="{{concentration_page}}">
    {% endif %}

    {{title}}
    {% for type in program_types %}
        <span class="btn btn-mini major ml1">{{type}}</span>
    {% endfor %}

    {% if concentration_page != '/' %}
        </a>
    {% endif %}

</td>

<td>
    {{ deliveries | sort | join(', ') }}
</td>

<td>
    {{ degrees | sort | join(', ') }}
</td>

<td>
    {% if "College of Arts & Sciences" not in schools %}
        <input type="checkbox" name="program-search-checkbox" id="{{concentration_code}}" onclick="countCheckedBoxes()" /><a class="btn btn-small ml1" onclick="comparePrograms()">Compare Programs</a>
    {% else %}
        <p>N/A</p>
    {% endif %}

</td>