<!--{% if bio.is_lead or bio.top_lead %}-->
<!--<div class="pa1 mv2" style="background: white;">-->
<!--{% else %}-->
<div class="pa1 mv2">
<!--{% endif %}-->

    <div class="grid ">
        <div class="grid-cell u-medium-1-4 ">
            <div class=" grid-pad-1x ">
                {{ bio_image|raw }}
            </div>
        </div>
        <div class="grid-cell u-medium-3-4 ">
            <div class=" grid-pad-1x ">
                <h3>
                    <a href="http://www.bethel.edu{{ bio.path }}">{{ bio.first }} {{ bio.last }}</a>
                </h3>
                <p class="sans-serif">
                    {% if 'array_of_job_titles' in bio %}
                    {{ bio['array_of_job_titles'] | format_job_titles }}
                    {% endif %}
                    {% if bio.email != '' %}
                        | <a href="mailto:{{ bio.email }}">{{ bio.email }}</a>
                    {% endif %}
                    {% if bio['started-at-bethel'] != '' %}
                        | Started at Bethel: {{ bio['started-at-bethel'] }}
                    {% endif %}
                    <!--Todo: we need to have the seminary bios updated...-->
                    <!--{% if bio['faculty_location'] %}-->
                        <!--| {% for location in bio['faculty_location'] %}-->
                        <!--<span class="btn btn-mini">{{ location }}</span>-->
                        <!--{% endfor %}-->
                    <!--{% endif %}-->
                </p>

                {% if bio.highlight != '' %}
                    <p>{{ bio.highlight|raw }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>