<div class="channel-section">
    <div class="uportal-cms-block">
        <div class="uportal-channel-text" style="text-align: right">
            <span style="float:left">{{display_date}}</span>
            <a href="http://tinker.bethel.edu/event/" title="Submit Events">Submit</a>
            |
            <a href="https://www.bethel.edu/events/calendar/" title="Full Calendar of Events">Full Calendar</a>
        </div>
        <div id="todayseventscont">
            <ul id="todayseventslist" class="alternating uportal-channel-text">
                {%for event in todays_events%}
                    <li>
                        <h4>
                            {% if attribute(event,'external-link')[0] %}
                                {% set link = attribute(event,'external-link')[0] %}
                            {% else %}
                                {% set link = 'http://www.bethel.edu' ~ event['path'][0] %}
                            {% endif %}

                            //move all this to event_helper.php
                            {% set title = event['title'][0] %}
                            {% set start = event['specific_start'][0] %}
                            {% set end = event['specific_end'][0] %}
                            {% set all_day = event['specific_all_day'] %}
                            {% set location = event['location'][0] %}
                            {% set description = event['description'][0] %}
                            {% set start_date = date %}
                            $start_date->setTimestamp($start / 1000);
                            $start = $start_date->format("g:i a");

                            $title = preg_replace('/&(?!#?[a-z0-9]+;)/', '&amp;', $title);
                            $location = preg_replace('/&(?!#?[a-z0-9]+;)/', '&amp;', $location);
                            $description = preg_replace('/&(?!#?[a-z0-9]+;)/', '&amp;', $description);


                if (substr($start, -6, 3) == ':00'){
                $start = $start_date->format("g a");
                }
                $end_date = $date = new DateTime('now', new DateTimeZone('America/Chicago'));
                $end_date->setTimestamp($end / 1000);
                $end = $end_date->format("g:i a");
                if (substr($end, -6, 3) == ':00'){
                $end = $end_date->format("g a");
                }
                if ($start && $end && !$all_day){
                if ($start == $end)
                $event_date = $start;
                else
                $event_date = $start . '-' . $end;
                }
                echo "<a href='$link'>$title</a>";
                echo '</h4>';
                echo '<p>';

                $info = "";

                if ($location){
                $info .=  $location;
                }
                if ($event_date){
                if ($info != ""){
                $info .= " | ";
                }
                $info .= $event_date;

                }
                if ($description){
                if ($info != ""){
                $info .= " | ";
                }
                $info .= $description;
                }
                echo $info;
                echo '</p>';
                echo '</li>';
                }
                ?>
            </ul>
        </div>
    </div>
</div>