<!--/* This starts at the first day of the month on the appropriate day of the week*/-->
{% for list_day in 1..days_in_month %}
<li class="{{classes.days_in_this_week}}event">
    <!--/* add in the day number */-->
    <span name="{{list_day}}">{{list_day}}</span>
    {% set date %}
    {{year}}-{{month}}-{{list_day}}
    {% endset %}
    {% set key = date|date("Y-m-d")  %}
    <!--// Probably seperate this out.-->
    {% if attribute(xml, key) is defined %}
    <dl>
        {% for event in attribute(xml, key) %}
        {% set start = event.specific_start %}
        {% set end = event.specific_end %}
        {% set time_string = event.time_string %}
        {% set all_day = event.specific_all_day %}
        {% set outside_of_minnesota = event.specific_outside_of_minnesota %}
        {% set time_zone = event.specific_time_zone %}
        {% if event.published %}
        <div class="vevent" data-event-url="{{event.path}}">
            <dt class="summary">
                <a href="{{event.path}}" rel="noopener" target="_blank">{{event.title}}</a>
            </dt>
            <dd>
                {% if all_day == true %}
                    {% set time_string = '' %}
                {% endif %}
                <span class="event-description">
                    {% if event.description %}
                        {{event.description}}{% if time_string %}<br/><br/>{% else %}<br/>{% endif %}
                    {% endif %}
                    {% if time_string %}
                        {{time_string}}<br/>
                    {% endif %}
                    <span class="location">{{event.location}}</span>
                </span>
                <ul class="categories" style="display:none">
                    {% for md in event.md %}
                    <li class="category" data-category="{{md}}">{{md}}</li>
                    {% endfor %}
                </ul>
            </dd>
        </div>
        {% endif %}
        {% endfor %}
    </dl>
    {% endif %}
</li>
<!--//Create a new row if this week is full-->
{% if running_day == 6 %}
</ul>
{% if day_counter+1 != days_in_month %}
<ul class="calendar-row">
    {% endif %}
    {% set running_day = -1 %}
    {% set days_in_this_week = 0 %}
    {% endif %}
    {% set days_in_this_week = days_in_this_week + 1 %}
    {% set running_day = running_day + 1 %}
    {% set day_counter = day_counter + 1 %}
    {% endfor %}
    <!--// keep track of this separate so it doesn't break the for loop-->
    {% set day_of_week = days_in_this_week %}
    {% if days_in_this_week < 8 and days_in_this_week != 1 %}
    {% for next_month_days in 1..(8 - days_in_this_week) %}
    <li class="{{classes.day_of_week}}event not-current"><span>{{next_month_days}}</span></li>
    {% endfor %}
    {% endif %}
</ul>
