{% if title == "Seminary San Diego InMinistry Fall Intensives" %}
    <pre>
        {{event.title}}
        {{start}}
        "  :   "
        {{end}}
    </pre>
{% endif %}

<div class="events__item" itemscope="itemscope" itemtype="http://schema.org/Event">
    <p class="events__date-tile">

        {% if start != "" %}
        <!--start and end date are on the same day-->
        <!--OR if the event hasn't started yet.-->
        <!--THEN display the start date as the date.-->
            {% if start|date("F d, Y") == end|date("F d, Y") or "now"|date(null) < start %}

                <!--Month-->
                {{start|date("F")|get_month_shorthand_name}}

                <!--Day-->
                <span>{{start|date("d")}}</span>

                <!--Year-->
                {{start|date("Y")}}</p>

            {% elseif "now"|date(null) > end %}
                <!--The event is in the past and is over-->
                <!--Month-->
                {{end|date("F")|get_month_shorthand_name}}
                <!--Day-->
                <span>{{end|date("d")}}</span>
                <!--Year-->
                {{end|date("Y")}}</p>

            {% else %}
                <!--The event is multiple days and it isn't over yet, display the current date instead of the end date-->
                <!--as that would make it seem like its in the future.-->

                <!--Month-->
                "now"|date("F")|get_month_shorthand_name

                <!--Day-->
                <span>"now"|date("d")</span>

                <!--Year-->
                "now"|date("Y")</p>
            {% endif %}
            <div class="events__content">
        {% endif %}
        <!--Title + Link-->
                <p class="events__headline"><a href="{{event|convert_path_to_link}}"><span itemprop="name">{{event.title}}</span></a></h2>

                    <!--Time + Location-->
                    {% if event.date %}
                        {% set date = event.date|format_fancy_event_date %}
                    {% else %}
                        {% set date = "" %}
                    {% endif %}

                    {% if date != "" %}
                        {% if event.location != "" %}
                            <p class="mb0">{{date}} | <span itemprop="location">{{event.location}}</span></p>
                        {% else %}
                            <p class="mb0">{{date}}</p>
                        {% endif %}
                    {% else %}
                        {% if event.location != "" %}
                            <p class="mb0">{{event.location}}</p>
                        {% endif %}
                    {% endif %}

         <!--Description-->
                <p><span itemprop="description">{{event.description}}</span></p>
            </div>
</div>



<!--Original Content Deleted-->
<!--if($title == "Seminary San Diego InMinistry Fall Intensives"){-->
<!--echo "<pre>";-->
            <!--echo $event['title'];-->
            <!--echo $start;-->
            <!--echo "  :   ";-->
            <!--echo $end;-->
            <!--echo "</pre>";-->
<!--}-->

<!--$html = '<div class="events__item" itemscope="itemscope" itemtype="http://schema.org/Event">';-->
    <!--$html .= '<p class="events__date-tile">';-->

        <!--if( $start != "")-->
        <!--{-->
        <!--// start and end date are on the same day-->
        <!--// OR if the event hasn't started yet.-->
        <!--// THEN display the start date as the date.-->
        <!--if( (date("F d, Y", $start) == date("F d, Y", $end)) || time() < $start )-->
        <!--{-->
        <!--// Month-->
        <!--$html .= get_month_shorthand_name(date("F", $start));-->

        <!--// Day-->
        <!--$html .= "<span>".date("d", $start)."</span>";-->

        <!--// Year-->
        <!--$html .= date("Y", $start)."</p>";-->

    <!--}elseif(time() > $end){-->
    <!--// The event is in the past and is over-->
    <!--// Month-->
    <!--$html .= get_month_shorthand_name(date("F", $end));-->
    <!--// Day-->
    <!--$html .= "<span>".date("d", $end)."</span>";-->
    <!--// Year-->
    <!--$html .= date("Y", $end)."</p>";-->
    <!--}-->
    <!--else{-->
    <!--// The event is multiple days and it isn't over yet, display the current date instead of the end date-->
    <!--// as that would make it seem like its in the future.-->

    <!--// Month-->
    <!--$html .= get_month_shorthand_name(date("F", time()));-->

    <!--// Day-->
    <!--$html .= "<span>".date("d", time())."</span>";-->

    <!--// Year-->
    <!--$html .= date("Y", time())."</p>";-->
    <!--}-->
    <!--$html .= '<div class="events__content">';-->
        <!--}-->
        <!--// Title + Link-->
        <!--$html .= '<p class="events__headline"><a href="'.convert_path_to_link($event).'"><span itemprop="name">'.$event['title'].'</span></a></h2>';-->

            <!--// Time + Location-->
            <!--if( $event['date'] )-->
            <!--$date = format_fancy_event_date($event['date']);-->
            <!--else-->
            <!--$date = "";-->
            <!--if($date != ""){-->
            <!--if( $event['location'] != "")-->
            <!--{-->
            <!--$html .= '<p class="mb0">'.$date.' | <span itemprop="location">'.$event['location'].'</span></p>';-->
        <!--}-->
        <!--else{-->
        <!--$html .= '<p class="mb0">'.$date.'</p>';-->
        <!--}-->
        <!--}-->
        <!--else{-->
        <!--if( $event['location'] != "")-->
        <!--{-->
        <!--$html .= '<p class="mb0">'.$event['location'].'</p>';-->
        <!--}-->
        <!--}-->

        <!--// Description-->
        <!--$html .= '<p><span itemprop="description">'.$event['description'].'</span></p>';-->
        <!--$html .= '</div></div>';-->