<div class="events__item" itemscope="itemscope" itemtype="https://schema.org/Event">
    {% if start != "" %}
        <p class="events__date-tile" itemprop="startDate">
            {{ start|date("F")|get_month_shorthand_name }}
            <span>{{ start|date("j") }}</span>
            {{ start|date("Y") }}
        </p>
    {% endif %}

    <div class="events__content">
        <p class="events__headline">
            <a href="{{ event|convert_path_to_link }}"><span itemprop="name">{{ event.title }}</span></a>
        </p>

        {% set event_time = event.date|format_fancy_event_date %}
        {% set event_timezone = event.date|get_timezone_shorthand %}
        {% if event_time or event_timezone or event.location %}
            <p class="events__location">
                {% if event_time %}{{ event_time }}{% endif %}
                {% if event_timezone %} {{ event_timezone }}{% endif %}
                {% if event.location %}
                    {% if event_time or event_timezone %} {% endif %}
                    <span itemprop="location">{{ event.location }}</span>
                {% endif %}
            </p>
        {% endif %}

        {% if event.description %}
            <p class="events__description"><span itemprop="description">{{ event.description }}</span></p>
        {% endif %}
    </div>
</div>
