{% if title == "Seminary San Diego InMinistry Fall Intensives" %}
    <pre>
        {{event.title}}
        {{start}}
        "  :   "
        {{end}}
    </pre>
{% endif %}

<div class="events__item" itemscope="itemscope" itemtype="https://schema.org/Event">
    <p class="events__date-tile">

        {% if start != "" %}
        <!--start and end date are on the same day-->
        <!--OR if the event hasn't started yet.-->
        <!--THEN display the start date as the date.-->
            {% if start|date("F d, Y") == end|date("F d, Y") or "now"|date(null) < start %}

                <!--Month-->
                {{start|date("F")|get_month_shorthand_name}}

                <!--Day-->
                <span>{{start|date("j")}}</span>

                <!--Year-->
                {{start|date("Y")}}</p>

            {% elseif "now"|date(null) > end %}
                <!--The event is in the past and is over-->
                <!--Month-->
                {{end|date("F")|get_month_shorthand_name}}
                <!--Day-->
                <span>{{end|date("j")}}</span>
                <!--Year-->
                {{end|date("Y")}}</p>

            {% else %}
                <!--The event is multiple days and it isn't over yet, display the current date instead of the end date-->
                <!--as that would make it seem like its in the future.-->

                <!--Month-->
                "now"|date("F")|get_month_shorthand_name

                <!--Day-->
                <span>"now"|date("j")</span>

                <!--Year-->
                "now"|date("Y")</p>
            {% endif %}
            <div class="events__content">
        {% endif %}
        <!--Title + Link-->
                <p class="events__headline"><a href="{{event|convert_path_to_link}}"><span itemprop="name">{{event.title}}</span></a></h2>

                    <!--Time + Location-->
                    {% if event.date %}
                        {% set date = event.date|format_fancy_event_date %}
                    {% else %}
                        {% set date = "" %}
                    {% endif %}

                    {% if date != "" %}
                        {% if event.location != "" %}
                            <p class="mb0  events__location">{{date}} | <span itemprop="location">{{event.location}}</span></p>
                        {% else %}
                            <p class="mb0  events__location">{{date}}</p>
                        {% endif %}
                    {% else %}
                        {% if event.location != "" %}
                            <p class="mb0  events__location">{{event.location}}</p>
                        {% endif %}
                    {% endif %}

         <!--Description-->
                <p class="events__description"><span itemprop="description">{{event.description}}</span></p>
            </div>
</div>
