{% set query = '' %}
{% for key, value in data['params'] %}
  {% if value %}
    {% if query %}
      {% set query = query ~ '&' ~ key ~ '=' ~ value %}
    {% else %}
      {% set query = key ~ '=' ~ value %}
    {% endif %}
  {% endif %}
{% endfor %}
{% if data['message'] %}
<p id="message" class="{{ data['messageClass'] }}" style="display:block;">{{ data['message']|raw }}</p>
{% endif %}
<div class="grid false">
  <div class="grid-cell u-medium-1-2 ">
    <div class=" grid-pad-1x ">
      {% if data['buttonTitle'] == 'Log In' %}
      <form name="registerForm" class="registerForm" action="{{ data['login_url'] }}">
      {% else %}
      <form name="registerForm" class="registerForm" action="{{ data['php_path'] }}" onsubmit="return process_form(event);">
      {% endif %}
        <fieldset>
          {% for key, value in data['params'] %}
          {% if data['buttonTitle'] == 'Log In' %}
          <input type="hidden" name="{{ key }}" value="{{ value }}" readonly="true" />
          {% else %}
          <input type="hidden" name="params[{{ key }}]" value="{{ value }}" readonly="true" />
          {% endif %}
          {% endfor %}
          {% if data['buttonTitle'] != 'Log In' %}
          <input type="hidden" name="login_url" id="login_url" value="{{ data['login_url'] }}" readonly="true" />
          {% endif %}
          {% if data['bca_username'] %}
          <input type="hidden" name="bca_username" id="bca_username" value="{{ data['bca_username'] }}" readonly="true" />
          {% endif %}
          {% if data['allowed_params'] %}
          {% if data['buttonTitle'] != 'Log In' %}
          <input type="hidden" name="allowed_params" id="allowed_params" value="{{ data['allowed_params'] }}" readonly="true" />
          {% endif %}
          {% endif %}
          {% if data['noinput'] %}
          <div id="all_fields" style="display: block; pointer-events: none; opacity: 0.6;" >
          {% else %}
          <div id="all_fields" style="display: block;" >
          {% endif %}
          {% if data['fullname'] %}
          <label for="first">First Name</label>
          <input class="text u-w100" type="text" id="first" name="first" placeholder="First Name" value="" required />
          <label for="last">Last Name</label>
          <input class="text u-w100" type="text" id="last" name="last" placeholder="Last Name" value="" required />
          {% endif %}
          <p id="validateMessage" class="alert" style="display:none;"></p>
          {% if not data['bethel'] %}
          {% if data['buttonTitle'] == 'Log In' %}
          <label>Login Username</label>
          <input class="text u-w100 mb2" type="text" value="{{ data['email'] }}" />
          {% else %}
          {% if data['bca_username'] %}
          <input type="hidden" name="email" id="email" value="{{ data['email'] }}" readonly="true" />
          {% else %}
          <label for="email">Email Address</label>
          {% if data['fullname'] %}
          <input class="text u-w100 mb2" type="text" id="email" name="email" placeholder="Email" value="{{ data['email'] }}" style="pointer-events: none;" required />
          {% else %}
          <input class="text u-w100 mb2" type="text" id="email" name="email" placeholder="Email" value="{{ data['email'] }}" required />
          {% endif %}
          {% endif %}
          {% endif %}
          {% endif %}
          </div>
          {% if data['nobutton'] %}
          <button id="submit_button" type="submit" class="btn" style="pointer-events: none;">{{ data['buttonTitle']|raw }}</button>
          {% else %}
          <button id="submit_button" type="submit" class="btn">{{ data['buttonTitle']|raw }}</button>
          {% endif %}
        </fieldset>
      </form>
    </div>
    {% if data['problems'] %}
    <p>Problems? Contact <a href="https://www.bethel.edu/its">ITS</a>.</p>
    {% endif %}
    {% if data['buttonTitle'] == 'Log In' %}
      {% if data['tryagain'] %}
      <p>Problems? <a href="">Try again.</a></p>
      {% else %}
        {% if query %}
        <p>Not you? <a href="?{{ query }}&clearaccount=true">Try another account.</a></p>
        {% else %}
        <p>Not you? <a href="?clearaccount=true">Try another account.</a></p>
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
  {% if data['fullname'] %}
  <p>Already have an account? <a href="">Try another email.</a></p>
  {% endif %}
</div>