<div class="grid-cell">

    {% if post['image'] != "hidden" %}
    <div>
        <img    class="d-flex  mr-3  lazyload  mb-3"
                data-src="{{ post['image'] }}?w=240"
                alt="{{ post['title'] }}"
        />
    </div>
    {% endif %}

    <div>
        <h3><a href="{{ post['link'] }}">{{ post['title'] }}</a></h3>
        {% if post['creator'] != "hidden" %}
            <p>Author: {{ post['creator'] }}</p>
        {% endif %}

        {% if post['pub date'] != "hidden" %}
            <p>Date: {{ post['pub date']}}</p>
        {% endif %}

        {% if post['categories'] != "hidden" %}
            <p>Categories: {{ post['categories'] }}</p>
        {% endif %}
    </div>

    {% if post['description'] != "hidden" %}
        <p>{{ post['description'] }} <a href="{{ post['link'] }}">{{ post['read more'] }}</a></p>
    {% else %}
        <p><a href="{{ post['link'] }}">{{ post['read more'] }}</a></p>
    {% endif %}
</div>