{% for article in sortedArticles %}
    <div class="media  media--border-bottom  mb-3  pb-3">
        <div class="ratio-container" style="padding: 2.5em 4.2em;">
            <img    class="d-flex  mr-3  lazyload  mb-3"
                    data-src="https://bethel-university.imgix.net/{{ article['image-path'] }}?w=240"
                    alt="{{ article['title'] }}"
            />
        </div>
        <div class="media-body">
            <h3 class="u-fs16  u-fw500"><a href="https://bethel.edu/{{ article['path'] }}">{{ article['title'] }}</a></h3>
            {% if article['teaser'] %}
                <p>{{ article['teaser'] }}</p>
            {% endif %}
        </div>
    </div>
{% endfor %}