<div class="news__item" itemscope="itemscope" itemtype="https://schema.org/NewsArticle">
    {% if DisplayImages == "Yes" %}
        <div class="news__image">
            <a href="{{article['url']}}"> <!-- FIX -->
                {{thumborURL|raw}}
            </a>
        </div>
    {% endif %}
    <div class="news__content">
        <p class="news__headline"><a href="{{article['url']}}"><span itemprop="headline">{{article['title']}}</span></a></p> <!-- FIX -->
        {% if article['formatted-date'] %}
            <p>{{article['formatted-date']}}</p>
        {% endif %}
        {% if DisplayTeaser == "Yes" and article['teaser'] and article['teaser'] != '' %}
            <p>{{article['teaser']}}</p>
        {% endif %}
    </div>
</div>