<div class="news__item" itemscope="itemscope" itemtype="https://schema.org/NewsArticle">
    <div class="news__image">
        <a href="https://www.bethel.edu{{path}}"> <!-- FIX -->
            {{thumborURL|raw}}
        </a>
    </div>
    <div class="news__content">
        <p class="news__headline"><a href="https://www.bethel.edu{{path}}"><span itemprop="headline">{{article['title']}}</span></a></p> <!-- FIX -->
        {% if date != "" and date != "null" %}
        <p>{{formattedDate}}</p>
        {% endif %}
        {% if DisplayTeaser == "Yes" %}
        <p>{{article['teaser']}}</p>
        {% endif %}
    </div>
</div>