<!--needs pageStartsWith, test_starts_with, classes, path, label as variables-->

<li>
    {% if classes %}
        {% if pageStartsWith == test_starts_with %}
            <a class='{{classes}} active' href='{{path}}'>{{label}}</a>
        {% else %}
            <a class='{{classes}}' href='{{path}}'>{{label}}</a>
        {% endif %}
    {% else %}
        {% if pageStartsWith == test_starts_with %}
            <a class='active' href='{{path}}'>{{label}}</a>
        {% else %}
            <a href='{{path}}'>{{label}}</a>
        {% endif %}
    {% endif %}
</li>





<!--ORIGINAL CONTENT REPLACED-->

<!--echo '<li>';-->
    <!--if($classes){-->
    <!--if($pageStartsWith == $test_starts_with){-->
    <!--echo "<a class='$classes active' href='$path'>$label</a>";-->
    <!--}else{-->
    <!--echo "<a class='$classes' href='$path'>$label</a>";-->
    <!--}-->
    <!--}else{-->
    <!--if($pageStartsWith == $test_starts_with){-->
    <!--echo "<a class='active' href='$path'>$label</a>";-->
    <!--}else{-->
    <!--echo "<a href='$path'>$label</a>";-->
    <!--}-->
    <!--}-->
    <!--echo '</li>';-->