<div class="proof-point  center">
    <p class="proof-point__text">
        <span class="proof-point__number">

            {% if textBefore %}
                {{textBefore|raw}}
            {% endif %}

           <!--UPDATE THIS BEFORE RESPONSIVE IS LIVE-->
            <span class='odometer' data-final-number='{{number}}'>0</span>
                {% if textAfter %}
                    {{textAfter|raw}}
                {% endif %}

        </span><br>
        <span class="proof-point__text_below">{{textBelow|raw}}</span>
        </p>
    {% if source != "" %}
        <cite class="proof-point__cite">- {{source}}</cite>
    {% endif %}
</div>