<div class="proof-point">
    <p class="proof-point__text">
        <span class="proof-point__number">
            <span class='odometer-auto-theme'>
                {% if textBefore %}{{textBefore|raw}}{% endif %}
                {{number}}
                {% if textAfter %}{{textAfter|raw}}{% endif %}
            </span>
        </span>
        <span class="proof-point__text_below">{{textBelow|raw}}</span>
    </p>
    {% if source != "" %}
        <cite class="proof-point__cite">- {{source}}</cite>
    {% endif %}
</div>